<p>
  <strong>Last digit:</strong>
  <%= @title %>
</p>

<p>
  <strong>Date:</strong>
  <%= @main_date_1%>
</p>

<p>
  <strong>Time:</strong>
  <%= @main_time%>
</p>

<p>
  <strong>Weekday:</strong>
  <%= @main_day%>
</p>

<p>
  <strong>Message:</strong>
  <%= @meesage_user%>
</p>


<%= link_to 'Back', :back %>
